<!DOCTYPE html>
<html>
  <head>
    <title>Foods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <% if not employee_signed_in? %> 
      <%= render 'employees/sessions/new' %>
    <% else %>

      <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  
          <%= render 'shared/header' %>
          <%= render 'shared/sidebar' %>
          <%= yield %>

        <div class="page-wrapper">

          <%= render 'shared/footer' %>
        
        </div>
      </div>
    <% end %>

  </body>
</html>